.Progress-bar {
  height: 30px;
  border-radius: 10px;
  overflow: hidden;
  margin: 10px;
  border: 1px solid black;
  background-color:#ccc;
}

.Progress-bar-filler {
  color: white;
  height: 100%;
  transition: 0.5s ease-in-out;
  background-color: green;
  text-align: right;
}

.Progress-bar-fill {
  position:relative;
  height: 30px;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid black;
  background-color:#ccc;
  width:100%
}

.Progress-bar-fill-filler {
  position: absolute;
  color: white;
  height: 100%;
  width:100%;
  background-color: green;
}


.Progress-text {
  font-weight: bold;
}

.Title{
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    padding-bottom: 50px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.btn-style {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 30px;
  text-align: center;
  font-size: 16px;
  margin-bottom: 30px;
  cursor: pointer;
}

